# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
  table_prefix: 'smfn_'
  api_version: '%env(API_VERSION)%'
  service_name: '%env(SERVICE_NAME)%'
  duty_team_slack_bot_api_token: '%env(SLACK_BOT_API_TOKEN)%'
  duty_team_slack_bot_app_id: '%env(SLACK_APP_ID)%'
  duty_team_slack_bot_verification_token: '%env(SLACK_VERIFICATION_TOKEN)%'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        bind:
          'string $projectDir': '%kernel.project_dir%'
          'string $projectEnvironment': '%kernel.environment%'

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
            - '../src/Security/JWTTokenAuthenticator.php'
    
    App\Event\Listener\TablePrefixListener:
      arguments:
        - '%table_prefix%'
      tags:
        - { name: doctrine.event_listener, event: loadClassMetadata, method: loadClassMetadata }
    
    acme_api.event.jwt_created_listener:
      class: App\Event\Listener\JWTCreatedListener
      arguments: [ '@request_stack' ]
      tags:
        - { name: kernel.event_listener, event: lexik_jwt_authentication.on_jwt_created, method: onJWTCreated }
    
    api.custom_jwt_authenticator:
      class: App\Security\JWTTokenAuthenticator
      parent: lexik_jwt_authentication.security.jwt_authenticator
    
    Symfony\Component\Serializer\Normalizer\GetSetMethodNormalizer:
      class: Symfony\Component\Serializer\Normalizer\GetSetMethodNormalizer
      tags: [ serializer.normalizer ]
  # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
