# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    secret: '%env(APP_SECRET)%'
    #csrf_protection: true

    # Note that the session will be started ONLY if you read or write from it.
    session:
      handler_id: null
      cookie_secure: auto
      cookie_samesite: lax

    http_client:
      scoped_clients:
        slack.client:
          base_uri: 'https://slack.com'
          auth_bearer: '%env(SLACK_BOT_API_TOKEN)%'
          headers:
            Accept: 'application/json; charset=utf-8'
            
    #esi: true
    #fragments: true
    php_errors:
      log: true
      
when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
